<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Me</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="./bio-and-about-me.component.css" rel="stylesheet">
  
</head>
<body>

  <section class="about-section">
    <div class="container">
      <h1>About Me</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti, veritatis amet dignissimos veniam fugiat illo. Ullam nemo aspernatur praesentium impedit enim nesciunt, cumque sapiente necessitatibus quia et assumenda modi non tempora rem odit alias ipsam consequatur voluptatum optio omnis.</p>
      <a href="https://drive.google.com/file/d/1II9DytPiQ9KXWrNkDa7UusRgySJiruHG/view?usp=drive_link" target="_blank" class="btn-resume">Download Resume</a>
    </div>
  </section>



</body>
</html>
