<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Section</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="hero-section.component.css" rel="stylesheet">

  
</head>
<body>

  <section class="profile-section">
    <div class="container profile-content">
      <h1 class="profile-text">Abdelfattah Mostafa Eldeeb</h1>
      <p class="profile-subtext"> Fullstack web development (MERN & MEAN)Stack </p>
      <a href="https://www.linkedin.com/in/abdelfattah-mostafa-523226227/" class="btn-contact"  target="_blank">CONTACT ME</a>
    </div>
  </section>

  
</body>
</html>
