<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills Section</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="./skills-section.component.css" rel="stylesheet">
</head>
<body>

<div class="container skills-section">
  <h2 class="skills-title">Skills</h2>
  <p class="skills-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci debitis neque voluptate nam cupiditate quam quas, maxime similique, eveniet, necessitatibus molestias saepe et. Adipisci provident, eum expedita quo, ipsum officiis excepturi in accusantium esse quidem, dicta modi inventore harum laudantium officia dignissimos eligendi sed distinctio facere necessitatibus! Iure, omnis perferendis?
  </p>
  
  <div class="row">
    

    <div class="">
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 90%">HTML</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 85%">CSS</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 75%">JavaScript</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 60%">Angular</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 70%">REACT</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 80%">NODE</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 75%"> SQL </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 70%">NEST</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 70%">SASS</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: 80%">Excel</div>
      </div>
     
     
    </div>
  </div>
</div>


</body>
</html>

